@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

a.Button,
.Button {
  &,
  &:visited {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 28px;
    font-family: $normal-font;
    font-weight: bold;
    font-size: 18px;
    background-color: $blue;
    border: 2px solid $blue;
    color: white;
    text-align: center;
    line-height: normal;
    transition: none;
    letter-spacing: -.4px;

    & > * {
      text-align: center;
    }

    &.small {
      padding: 10px 24px;
      font-size: 16px;
    }
  }

  &:hover {
    text-decoration: none;
    color: white;
    background-color: $lighter-blue;
  }

  &:active {
    background-color: $darker-blue;
  }

  &:focus,
  &:active {
    text-decoration: none;
  }

  &.light {
    background-color: white;
    color: $blue;

    &:hover {
      color: white;
      background-color: $lighter-blue;

      svg { path { fill: white; } }
    }

    &:active {
      background-color: $darker-blue;
    }
  }

  svg {
    margin-left: 0.5em;
  }

  &.teal {
    background-color: $green;
    color: $dark-navy;
    // margin-right: 0.2rem;

    &:hover {
      background-color: $green-hover;
    }
  }
}

/* Weird Docusaurus default styling overwrite */
.navbar__items--right > .Button {
  padding-right: 28px;
}