@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.Card {
  position: relative;
  padding: 1em;
  border-radius: 8px;
  border: 1px $light-gray solid;
  box-shadow:
    0px 6.6501px 5.32008px rgb(43 70 116 / 3%),
    0px 2.76726px 2.21381px rgb(43 70 116 / 2%);
  transition: all 200ms;
}

.Card:hover {
  transform: translateY(-5px);
  box-shadow: 0 22.3363px 17.869px rgba(43,70,116,.042),0 12.5216px 10.0172px rgba(43,70,116,.035),0 6.6501px 5.32008px rgba(43,70,116,.028),0 2.76726px 2.21381px rgba(43,70,116,.02)
}

.CardTitle {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 1em;
}

.CardLink {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
