@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.Card {
  position: relative;
  padding: 1em;
  border-radius: 8px;
  border: 1px $light-gray solid;
  box-shadow:
    0px 6.6501px 5.32008px rgb(43 70 116 / 3%),
    0px 2.76726px 2.21381px rgb(43 70 116 / 2%);
}

.CardTitle {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 1em;
}

.CardLink {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
