$light-green: #25f5ee;
$green: #00D1CA;
$green-hover: #20b8c9;
$secondary-green: #1CA8B8;
$dark-green: #1CA8B8;

$navy: #1a263e;
$light-navy: #27304B;
$dark-navy: #0e203d;

$cyan: #3d6bc7;

$light-blue: #F3F7FF;
$lighter-blue: #1f2e4d;
$blue: #1A263E;
$darker-blue: #081325;

$yellow: #F5A623;

