@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
@import 'circular-font.scss';
@import 'colors.scss';
@import 'fonts.scss';

:root {
  --ifm-heading-color: #{$navy};
  --ifm-h1-font-size: 46px;
  --ifm-h2-font-size: 27px;
  --ifm-global-radius: 3px;

  --ifm-container-width-xl: none;

  --ifm-navbar-background-color: #fff;
  --ifm-navbar-shadow: none;
  --ifm-navbar-link-color: white;
  --ifm-navbar-padding-horizontal: 24px;

  --ifm-toc-border-color: #3d6bc726;

  --ifm-font-color-base: rgb(59, 69, 78);
  --ifm-color-primary: #{$dark-green};
  --ifm-color-primary-dark: #1997a6;
  --ifm-color-primary-darker: #188f9c;
  --ifm-color-primary-darkest: #147681;
  --ifm-color-primary-light: #1fb9ca;
  --ifm-color-primary-lighter: #20c1d4;
  --ifm-color-primary-lightest: #34cee0;

  --ifm-menu-link-padding-horizontal: 16px;
  --ifm-menu-link-padding-vertical: 5px;
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(35, 41, 53, 1)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  --ifm-menu-link-sublist-icon-active: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(255, 255, 255, 1)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  --ifm-menu-color: #{$navy};
  --ifm-menu-color-active: #{$navy};

  --ifm-table-border-color: #{rgba($navy, .2)};
  --ifm-table-font-size: 16px;

  --ifm-contents-border-color: #{rgba($cyan, .15)};
  --ifm-spacing-horizontal: 36px;

  --ifm-blockquote-color: var(--ifm-font-color-base);
  --ifm-blockquote-font-size: 18px;
  --ifm-color-emphasis-300: #{$dark-green};

  --ifm-font-family-monospace: #{$code-font};
  --ifm-code-background: #{$light-blue};
  --ifm-code-font-size: 18px;

  --ifm-footer-background-color: #{$darker-blue};

  --ifm-tabs-padding-vertical: 12px;
}

// Dark Mode
[data-theme='dark'] {
  --ifm-font-color-base: white;
  --ifm-heading-color: white;
  --ifm-menu-color: white;
  --ifm-menu-color-active: var(--ifm-color-primary)
}

html, body {
  font-family: $normal-font;
  font-size: 18px;
  letter-spacing: -.3px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

table {
  font-size: var(--ifm-table-font-size);
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
}

.navbar {
  background: $navy;

  &__title {
    display: none;
  }

  &__brand {
    max-height: 28px;
    margin-right: 0.2rem;
  }

  &__item {
    svg {
      display: none;
    }
  }

  &__toggle {
    margin-right: 1.2rem;
    svg path { stroke: #fff; }
  }
}

.menu {
  font-size: 17px;
  font-weight: 400;
  height: 100%;
  padding: 12px 0;
  margin: 0;
  padding-right: 0;

  .menu__caret:before {
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.3rem 1.3rem;
  }

  .menu__link--sublist-caret:after {
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.3rem 1.3rem;
  }

  .menu__list-item-collapsible--active {
    background: $navy;

    .menu__link--active {
      color: white;
    }

    .menu__caret:hover {
      background: $light-navy;
    }  

    .menu__caret:before {
      background: var(--ifm-menu-link-sublist-icon-active) 50% / 1.3rem 1.3rem;
    }
  }

  .menu__link {
    letter-spacing: -.5px;

    &.menu__link--active {
      font-weight: bold;

      &:not(.menu__link--sublist) {
        border-radius: 3px;
        color: white;
        background: $navy;
      }
    }
  }

  .menu__list-item:not(.menu__list-item--collapsed) {
    .menu__list-item:last-child {
      margin-bottom: 12px;
    }
  }
}

.container {
  @media (max-width: 996px) {
    max-width: 100vw;
  }
}

.main-wrapper {
  h1 {
    position: relative;
    letter-spacing: -2px;
    font-size: var(--ifm-h1-font-size);
    line-height: 50px;
    margin-bottom: 2.8rem;

    &:before {
      position: absolute;
      content: "";
      bottom: -24px;
      left: 0px;
      width: 70px;
      height: 2px;
      background: $green;
    }
  }

  p {
    code {
      border-radius: 3px;
      font-size: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
  }

  blockquote {
    background-color: rgba($light-blue, .7);
    border-left: 3px solid var(--ifm-color-emphasis-300);
    font-style: italic;
    border-radius: var(--ifm-global-radius);
  }

  .prism-code,
  pre.prism-code {
    font-size: 18px;

    &.language-console {
      .prompt {
        color: $green;
      }
    }
  }

  .pagination-nav {
    .pagination-nav__link {
      border: 0;

      color: var(--ifm-font-color-base);

      &:hover {
        .pagination-nav__label {
          text-decoration: underline;
        }
      }
    }
  }
}

.footer {
  &__item {
    a svg {
      display: none;
    }
  }

  &.footer--dark {
    --ifm-footer-background-color: #{$darker-blue};
  }
}

.tabs {
  position: relative;

  &::after {
    position: absolute;
    bottom: 1px;
    content: '';
    width: 100%;
    display: block;
    border-bottom: 2px solid rgba($navy, .1);
  }

  & > .tab-item {
    padding: 10px var(--ifm-tabs-padding-horizontal);

    &.tab-item--active,
    &:active {
      outline: none;
      border-bottom: 2px solid var(--ifm-tabs-color-active);
    }
  }
}

.ds-dropdown-menu {
  box-shadow: -3px 3px 13px 0px rgba($navy, .2) !important;
}

.dropdown-separator {
  margin: 0.3rem 0;
}

.markdown {
  & > h2 {
    margin-top: calc(2 * var(--ifm-leading));
    line-height: normal;
    letter-spacing: -.08rem;
  }

  h1:first-child {
    margin-bottom: 2.8rem;
    margin-top: 1rem;
  }
}

.no-wrap {
  white-space: nowrap;
}

@media(max-width: 996px) {
  body #hubspot-messages-iframe-container,
  body #hubspot-messages-iframe-container iframe {
    display: none !important;
  }
}

.admonition {

  &-note &-heading {
    h1, h2, h3, h4, h5, h6 {
      color: var(--ifm-heading-color);
    }
  }
}

.DocSearch {
  &-Button-Placeholder {
    font-size: .85rem;
    letter-spacing: -.03rem;
  }
}

@media (max-width: 996px) {
  .searchBox_qEbK,
  div[class*="searchBox"] {
    position: relative;
    margin-left: auto;
  }
}


@media (max-width: 500px) {
  .navbar__items--right {
    display: none;
  }
}
