@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
@import 'circular-font.scss';
@import 'colors.scss';
@import 'fonts.scss';

:root {
  --ifm-heading-color: #{$navy};
  --ifm-h1-font-size: 46px;
  --ifm-h2-font-size: 27px;
  --ifm-global-radius: 3px;

  --ifm-container-width-xl: none;

  --ifm-navbar-background-color: #{$navy};
  --ifm-navbar-shadow: none;
  --ifm-navbar-link-color: white;
  --ifm-navbar-padding-horizontal: 24px;

  --ifm-navbar-sidebar-background-color: white;

  --ifm-toc-border-color: #3d6bc726;

  --ifm-font-color-base: #{$navy};
  --ifm-color-primary: #{$dark-green};
  --ifm-color-primary-dark: #1997a6;
  --ifm-color-primary-darker: #188f9c;
  --ifm-color-primary-darkest: #147681;
  --ifm-color-primary-light: #1fb9ca;
  --ifm-color-primary-lighter: #20c1d4;
  --ifm-color-primary-lightest: #34cee0;

  --ifm-menu-link-padding-horizontal: 16px;
  --ifm-menu-link-padding-vertical: 5px;
  --ifm-menu-link-sublist-icon-dark: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgb(26,38,62)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  --ifm-menu-link-sublist-icon-light: url('data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgb(255,255,255)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
  --ifm-menu-color: #{$navy};
  --ifm-menu-color-active: #ffffff; 
  --ifm-menu-color-background-active: #{$navy}; // Okteto addition
  --ifm-menu-color-background-active-hover: #{$light-navy}; // Okteto addition

  --ifm-table-border-color: #{rgba($navy, .2)};
  --ifm-table-font-size: 16px;

  --ifm-contents-border-color: #{rgba($cyan, .15)};
  --ifm-spacing-horizontal: 36px;

  --ifm-blockquote-color: var(--ifm-font-color-base);
  --ifm-blockquote-font-size: 18px;
  --ifm-blockquote-padding-vertical: 8px;
  --ifm-blockquote-padding-horizontal: 24px;

  --ifm-font-family-monospace: #{$code-font};
  --ifm-code-background: #{$light-blue};
  --ifm-code-font-size: 16px;

  --ifm-tabs-padding-vertical: 12px;
}

// Dark Mode
html[data-theme='dark'] {
  --ifm-font-color-base: white;
  --ifm-heading-color: white;
  
  --ifm-menu-color: white;
  --ifm-menu-color-active: white;

  --ifm-background-color: #15181E;
  --ifm-hover-overlay: #1e232c;
  --ifm-navbar-sidebar-background-color: #15181E;

  .menu__list-item-collapsible--active,
  .menu__list-item-collapsible--active:hover  {
    .menu__caret:before {
      background: var(--ifm-menu-link-sublist-icon-dark) 50% / 1.3rem 1.3rem;
    }
  }

  .footer {
    --ifm-footer-background-color: #0e1114;
  }
}

html, body {
  font-family: $normal-font;
  font-size: 18px;
  letter-spacing: -.02rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

table {
  font-size: var(--ifm-table-font-size);
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
}

.container {
  @media (max-width: 996px) {
    max-width: 100vw;
  }
}

.main-wrapper {
  h1 {
    position: relative;
    letter-spacing: -2px;
    font-size: var(--ifm-h1-font-size);
    line-height: 50px;
    margin-bottom: 2.8rem;

    &:before {
      position: absolute;
      content: "";
      bottom: -24px;
      left: 0px;
      width: 70px;
      height: 2px;
      background: $green;
    }

    code {
      letter-spacing: normal;
    }

  }

  p {
    code {
      border-radius: 3px;
      font-size: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
  }

  blockquote {
    background-color: rgba($light-blue, .7);
    border-left: 3px solid var(--ifm-color-emphasis-300);
    font-style: italic;
    border-radius: var(--ifm-global-radius);
  }

  .prism-code,
  pre.prism-code {
    font-size: 18px;

    &.language-console {
      .prompt {
        color: $green;
      }
    }
  }

  .pagination-nav {
    .pagination-nav__link {
      color: var(--ifm-font-color-base);

      &:hover {
        .pagination-nav__label {
          text-decoration: underline;
        }
      }
    }
  }
}

.menu {
  font-size: 17px;
  font-weight: 400;
  height: 100%;
  padding: 12px 0;
  margin: 0;
  padding-right: 0;
}

.menu__list-item-collapsible--active,
.menu__list-item-collapsible--active:hover  {
  background-color: var(--ifm-menu-color-background-active);

  .menu__link.menu__link--sublist.menu__link--active {
    color: var(--ifm-menu-color-active);
  }

  .menu__caret:hover {
    background-color: var(--ifm-menu-color-background-active-hover);
  }

  .menu__caret:before {
    background: var(--ifm-menu-link-sublist-icon-light) 50% / 1.3rem 1.3rem;
  }
}

.menu__link--sublist-caret:after,
.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon-dark) 50% / 1.3rem 1.3rem;
}

.menu__link.menu__link--sublist.menu__link--active {
  color: var(--ifm-menu-color);
}

a.menu__link svg {
  display: none;
}

.navbar__brand {
  max-height: 28px;
  margin-right: 0.2rem;
}

.navbar__item {
  svg {
    display: none;
  }
}

.navbar .clean-btn {
  color: var(--ifm-navbar-link-color);

  &:hover {
    background-color: $light-navy;
  }
}

.navbar-sidebar__close {
  color: var(--ifm-navbar-link-color);
}

.navbar-sidebar__close.clean-btn:hover {
  --ifm-color-emphasis-600: var(--ifm-navbar-link-color);
  background-color: transparent;
}

.navbar-sidebar__item.menu {
  background-color: var(--ifm-navbar-sidebar-background-color);
  padding: 0 8px;
}


.footer {
  --ifm-footer-background-color: #{$darker-blue};

  &__item {
    a svg {
      display: none;
    }
  }
}

.tabs {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    display: block;
    border-bottom: 1px solid var(--ifm-color-emphasis-300);
  }

  & > .tab-item {
    padding: 10px var(--ifm-tabs-padding-horizontal);

    &.tab-item--active,
    &:active {
      outline: none;
      border-bottom: 2px solid var(--ifm-tabs-color-active);
    }
  }
}

.theme-doc-toc-mobile {
  background-color: var(--ifm-navbar-sidebar-background-color) !important;
}

.theme-doc-toc-mobile .clean-btn {
  background-color: var(--ifm-navbar-sidebar-background-color);
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
}

.theme-doc-toc-mobile .table-of-contents {
  background-color: var(--ifm-navbar-sidebar-background-color);
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-global-radius);
}

.ds-dropdown-menu {
  box-shadow: -3px 3px 13px 0px rgba($navy, .2) !important;
}

.dropdown-separator {
  margin: 0.3rem 0;
}

.markdown {
  & > h2 {
    margin-top: calc(2 * var(--ifm-leading));
    line-height: normal;
    letter-spacing: -.08rem;
  }

  h1:first-child {
    margin-bottom: 2.8rem;
    margin-top: 1rem;
  }
}

.no-wrap {
  white-space: nowrap;
}

@media(max-width: 996px) {
  body #hubspot-messages-iframe-container,
  body #hubspot-messages-iframe-container iframe {
    display: none !important;
  }
}

.admonition {
  &-note &-heading {
    h1, h2, h3, h4, h5, h6 {
      color: var(--ifm-heading-color);
    }
  }
}

.theme-admonition {
  a {

    --ifm-link-color: var(--ifm-color-primary);
    --ifm-alert-border-color: var(--ifm-color-primary);
    --ifm-link-hover-color: var(--ifm-color-primary);
    text-decoration: none;

    &:hover {
      text-decoration: var(--ifm-link-hover-decoration);
    }
  }
}

.DocSearch {
  &-Button-Placeholder {
    font-size: .85rem;
    letter-spacing: -.03rem;
  }
}

a.Button.GetFreeTrialButton {
  order: 12;
  margin-left: .8rem;
}

@media (max-width: 996px) {
  a.Button.GetFreeTrialButton {
    display: none;
  }
}
