@import '../../styles/fonts.scss';

.componentTitle {
  font-size: 1.1em;
  text-align: center;
  margin-top: 3em;
}

.form {
  border-top: 1px #E2E9F7 solid;
  margin-top: 2.5em;
  margin-bottom: -3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formExpanded {
  border-bottom: 1px #E2E9F7 solid;
}

.radio {
  width: 2.75em;
  height: 2.75em;
  position: relative;
}

.radioInput {
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  margin: 0;
}

.fieldset:not([disabled]) .radioInput {
  cursor: pointer;
}

.radioLabel {
  --background-color: #E2E9F7;
  --icon-color: #234479;

  width: 2.75em;
  height: 2.75em;
  border-radius: 50%;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioLabel svg {
  width: 1.4em;
  height: auto;
  fill: var(--icon-color);
}

.radioInput.radioYes:checked + .radioLabel {
  --background-color: #E2F7E7;
  --icon-color: #16612F;
}

.radioInput.radioNo:checked + .radioLabel {
  --background-color: #F7E2E7;
  --icon-color: #79232D;
}

.radioContainer {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  margin-top: -1.5em;
}

.comment {
  width: 90%;
  max-width: 40em;
  margin: 3em auto 1em auto;
  border: 1px #A7ADBB solid;
  border-radius: 0.25rem;
  padding: 1.5em;
  height: 13em;
  font-family: $normal-font;
  font-size: 1rem;
  resize: none;
}

.submitButton {
  margin-bottom: 3em;
}

.feedbackTitle {
  margin: 1em 0 1.5em 0;
}

.fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.specificQuestion {
  display: block;
  text-align: center;
  margin-bottom: 2em;
}